CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra, -DHOGEPACHI, -I/home/sho/cp-env/lib/algolib/src, -I/home/sho/cp-env/lib/ac-library]
  Compiler: clang++

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
